.version.index /* version checker */
{
	color: #000011;
	background-color: #EE1C4E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1266px;
	min-height: 643px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u201
{
	z-index: 2;
	width: 1348px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u151
{
	z-index: 4;
	width: 18px;
	height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 190px;
}

.ie #u151
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u151:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 18px;
	height: 24px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u152
{
	z-index: 5;
	width: 34px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 281px;
}

.ie #u151:hover,.ie #u152
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u152:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 34px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u153
{
	z-index: 6;
	width: 37px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 383px;
}

.ie #u152:hover,.ie #u153
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u153:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 37px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u155
{
	z-index: 7;
	width: 50px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 484px;
}

.ie #u153:hover,.ie #u155
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u155:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 50px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u156
{
	z-index: 8;
	width: 47px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 601px;
}

.ie #u155:hover,.ie #u156
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u156:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 47px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u157
{
	z-index: 9;
	width: 25px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 715px;
}

.ie #u156:hover,.ie #u157
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u157:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 25px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u158
{
	z-index: 10;
	width: 46px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 807px;
}

.ie #u157:hover,.ie #u158
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u158:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 46px;
	height: 14px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u159
{
	z-index: 11;
	width: 59px;
	height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 916px;
}

.ie #u158:hover,.ie #u159
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u159:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 59px;
	height: 17px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u160
{
	z-index: 12;
	width: 21px;
	height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1046px;
}

.ie #u159:hover,.ie #u160
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u160:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 21px;
	height: 19px;
	min-height: 0px;
	margin: 13px -10000px 0px 0px;
}

#u161
{
	z-index: 13;
	width: 19px;
	height: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1140px;
}

.ie #u160:hover,.ie #u161
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u161:hover
{
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 19px;
	height: 23px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u162
{
	z-index: 14;
	width: 110px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 860px;
}

#u163
{
	z-index: 15;
	width: 113px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1018px;
}

#widgetu164
{
	z-index: 16;
	width: 0.01px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 516px;
}

#widgetu171
{
	z-index: 17;
	width: 277px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu171.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 277px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u174-4
{
	z-index: 18;
	width: 260px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	padding: 13px 6px 6px 11px;
}

#widgetu171.non-empty-st #u174-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u175-4
{
	z-index: 22;
	width: 101px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 216px;
}

#u165-4
{
	z-index: 26;
	width: 101px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 216px;
}

#u176-4
{
	z-index: 30;
	width: 101px;
	min-height: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 216px;
}

#u166-17
{
	z-index: 34;
	min-height: 28px;
	width: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 283px;
	background: url("../images/boton%20info-u166-17.png") no-repeat 0px 0px;
}

#u166-17:hover
{
	background: url("../images/boton%20info-u166-17-r.png") no-repeat 0px 0px;
}

#u166-17:active
{
	background: url("../images/boton%20info-u166-17-m.png") no-repeat 0px 0px;
}

#widgetu164.frm-sub-st #u166-17
{
	background: url("../images/boton%20info-u166-17-fs.png") no-repeat 0px 0px;
}

#widgetu225
{
	z-index: 51;
	width: 277px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#widgetu225.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 277px;
	height: 39px;
	min-height: 0px;
	margin: 46px -10000px 0px 0px;
}

#u227-4
{
	z-index: 52;
	width: 260px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 17px;
	text-align: left;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	padding: 13px 6px 6px 11px;
}

#widgetu171.fld-err-st #u174-4,#widgetu225.fld-err-st #u227-4
{
	padding-top: 13px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 260px;
	margin: 0px -10000px 0px 0px;
}

#widgetu171.fld-err-st #u174-4 *,#widgetu225.non-empty-st #u227-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu225.fld-err-st #u227-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu171_input,#widgetu171_prompt,#widgetu225_input,#widgetu225_prompt
{
	width: 260px;
	min-height: 20px;
	color: #7F7F7F;
	text-align: left;
	font-size: 17px;
	padding: 13px 6px 6px 11px;
}

#widgetu171.fld-err-st #widgetu171_input,#widgetu171.fld-err-st #widgetu171_prompt,#widgetu225.fld-err-st #widgetu225_input,#widgetu225.fld-err-st #widgetu225_prompt
{
	padding-top: 13px;
	padding-bottom: 6px;
}

#widgetu171.non-empty-st #widgetu171_prompt,#widgetu225.non-empty-st #widgetu225_prompt
{
	visibility: hidden;
}

#u207
{
	z-index: 56;
	width: 258px;
	height: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 597px;
	left: 546px;
}

#u208
{
	z-index: 57;
	width: 298px;
	height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 833px;
	left: 525px;
}

#u209
{
	z-index: 58;
	width: 156px;
	height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1007px;
	left: 596px;
}

#u210
{
	z-index: 59;
	width: 94px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 275px;
}

#u211
{
	z-index: 60;
	width: 58px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 480px;
}

#u212
{
	z-index: 61;
	width: 61px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 593px;
}

#u213
{
	z-index: 62;
	width: 104px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 670px;
}

#u214
{
	z-index: 63;
	width: 65px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 781px;
}

#u215
{
	z-index: 64;
	width: 76px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 853px;
}

#u216
{
	z-index: 65;
	width: 58px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 936px;
}

#u217
{
	z-index: 66;
	width: 106px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1153px;
	left: 1001px;
}

#u218
{
	z-index: 67;
	width: 24px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1147px;
	left: 1114px;
}

#u219
{
	z-index: 68;
	width: 94px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1184px;
	left: 449px;
}

#u220
{
	z-index: 69;
	width: 100px;
	height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1184px;
	left: 550px;
}

.ie #u161:hover,.ie #u162,.ie #u163,.ie #u207,.ie #u208,.ie #u209,.ie #u210,.ie #u211,.ie #u212,.ie #u213,.ie #u214,.ie #u215,.ie #u216,.ie #u217,.ie #u218,.ie #u219,.ie #u220
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1266px;
}

